<section id="fh5co-contact" data-section="contact">
  <div class="container">
    <div class="row">
      <div class="col-md-12 section-heading text-center" style="margin:0 ">
        <h2 class="zto-animate">{{ with .Site.Params.contact.title }}{{ . | markdownify }}{{ end }}</h2>
        <div class="row">
          <div class="col-md-8 col-md-offset-2 subtext zto-animate">
            <h3>{{ with .Site.Params.contact.description }}{{ . | markdownify }}{{ end }}</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="row row-bottom-padded-md">
      <div class="col-md-6 zto-animate">
        <h3>{{ with .Site.Params.contact.info }}{{ . | markdownify }}{{ end }}</h3>
        <ul class="fh5co-contact-info">
          {{ range .Site.Params.contact.details }}
          <li class="fh5co-contact-address ">
            <i class="{{ with index . 0}}{{ . }}{{ end }}"></i>{{ with index . 1}}{{ . | markdownify }}{{ end }}</li>
          {{ end }}
        </ul>
      </div>
      {{ if .Site.Params.contact.form }}
      <div class="col-md-6 zto-animate">
        <!-- Begin MailChimp Signup Form -->
        <link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
        <div id="mc_embed_signup">
          <form action="https://opendirective.us14.list-manage.com/subscribe/post?u=b9dd99bd8c59b19d930ab3042&amp;id=0471705d17" method="post"
            id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
              <label for="mce-EMAIL">Subscribe to our newsletter</label>

              <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true">
                <input type="text" name="b_b9dd99bd8c59b19d930ab3042_0471705d17" tabindex="-1" value="">
              </div>
              <div class="clear">
                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
              </div>
            </div>
          </form>
        </div>
        <!--End mc_embed_signup-->
      </div>
      {{ end }}
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 section-heading text-center" style="margin:0 ">
        <h2 class="zto-animate">{{ with .Site.Params.contact.title2 }}{{ . | markdownify }}{{ end }}</h2>
        <div class="row">
          <div class="col-md-8 col-md-offset-2 subtext zto-animate">
            <h3>{{ with .Site.Params.contact.description2 }}{{ . | markdownify }}{{ end }}</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="row row-bottom-padded-md">
      <div class="col-md-6 zto-animate">
        <h3>{{ with .Site.Params.contact.info2 }}{{ . | markdownify }}{{ end }}</h3>
        <ul class="fh5co-contact-info">
          {{ range .Site.Params.contact.details2 }}
          <li class="fh5co-contact-address ">
            <i class="{{ with index . 0}}{{ . }}{{ end }}"></i>{{ with index . 1}}{{ . | markdownify }}{{ end }}</li>
          {{ end }}
        </ul>
      </div>
    </div>
  </div>
  {{ if .Site.Params.contact.map }}
  <div id="map" class="zto-animate"></div>
  {{ end }}
</section>
